body {
  font-family: "Open Sans", sans-serif;
}
.social {
  font-size: 2.5em;
}
.social a {
  color: #666;
  text-decoration: none;
  transition: all 0.1s linear;
  margin-right: 15px;
}
.social a:hover {
  color: #000;
}
